.parrafo {
    margin: 0;
    color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #f5f5f5;
    padding: 20px;
    background-color: #1F1F1F;
}