.parrafo{
    color: white;
    text-align: left;
    margin: auto;
    padding-right: 5px;
}
.form-control{
    margin: 0 5px;
}

.btn{
   background-color: #BB86FC;
}

.row, container{
    margin: 0;
    width: 100%;
}
